* {
    margin: 0;
}

/* entête */

header {
    background-color: rgb(60, 203, 60);
    text-align: center;
}

header nav {
    display: inline-block;
    padding: 10px 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    border-right: solid 2px rgb(250, 248, 248);
    padding: 25px;
}


#last {
    border-right: none;
}

#nav1 {
    width: 59.5%;
    text-align: right;
    background-color: rgb(180, 228, 180);
}


#nav2 {
    background-color: rgb(7, 110, 7);
    width: 40%;
    text-align: left;
}